<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NQSync landing page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <img
          class="logo"
          src="{{ url_for('static', filename='images/network_animation.svg') }}"
          alt="Network Animation"
        />
        <h1>Coming Soon</h1>
        <p>We are working hard to bring something amazing! <br />Stay tuned</p>
      </div>
    </div>
  </body>
</html>
